<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="style.css">
  <style>
    .style{
        background-color: beige;
        margin-top: 80px
    }
  </style>
</head>

<body>
  <center>
    <div class="grad style">
    <br><br>
    <h1>LOGIN DETAILS</h1>
    <form method="POST" action="/video">
      <h2>Name: </h2><input> <br> 
      <h2>Phone Number: </h2><input><br>
      <h2>Email: </h2><input type="email"><br><br>
      <button type="submit">Submit</button>
    </form><br><br></div>
  </center>
</body>

</html>