<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
        .style {
            width: 100%;
            max-width: 800px;
            max-height: 800px;
            margin-top: 50px;
            margin-bottom: 80px;
            border: 1px solid black;
            background-color: white;
        }
        .grad {
    background-image: linear-gradient(to bottom right, rgba(0, 172, 252, 0.527), rgba(255, 255, 0, 0.075));
  }
        
    </style>
    <link rel="stylesheet" href="style.css">

</head>

<body class="grad">
    <center>
        <h1>VIDEO PLAYER</h1>
        Select your Primary Language: <select>
            <option>Engish</option>
            <option>Hindi</option>
            <option>Bengali</option>
        </select><br>
        <video controls width="200px" height="400px" class="style">
            <source src="static\video_test.mp4" type="video/mp4">
        </video>
    </center>
</body>

</html>